# Dependencies
/node_modules

# Output
.wrangler
/.svelte-kit
/build
/coverage

# OS
.DS_Store

# Secrets
.dev.vars

# Playwright
test-results/

# Vitest localStorage backing file
.vitest-localstorage.json*
